{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>DJango</title>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
	<script type="text/javascript" src="{% static 'js/my.js' %}"></script> -->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- <h1 id="a">Mahesh</h1>
	<h2 class="b">Mahesh</h2>
	<img src="{% static 'images/1.jpg' %}"> -->

	<header>
	    {% include 'includes/navbar.html' %}
	</header>
	{% block body %}

	{% endblock %}

</body>
</html>